.form {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #faebd7;
  gap: 10px;
  border-radius: 5px;
}

.fieldset {
  border: 2px solid black;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
}

.button {
  background-color: darkorange;
  padding: 3px;
  border-radius: 4px;
  border: 2px solid black;
  width: 60px;
  height: 35px;
}

.button:hover {
  cursor: pointer;
  color: white;
}

.label {
  display: block;
}

.input {
  display: block;
  background-color: aliceblue;
}

.textarea {
  background-color: aliceblue;
}

.legend {
  font-size: 20px;
}
