.mainheader {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.links {
  display: flex;
  gap: 80px;
}

.logo {
  position: absolute;
  top: 5;
  left: 5;
  border-radius: 5px;
}
