.mainheader {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
