.mainpostscontainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8px;
  gap: 10px;
  overflow: auto;
}

.postscontainer {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
